//@import url("http://fonts.googleapis.com/css?family=Lato");

//*
//  font-family Lato

// Roboto is material-ui default
html
  font-family Roboto, sans-serif
  color #222222

// http://www.material-ui.com/#/customization/colors
.App--Error, .App--Warn
  color #F44336

.App--Alert
  color #3643F4
