@import "./styles/*.styl"

// Test for transparent
html
  -webkit-app-region: drag
  //-webkit-user-select: none
  height: 100%
  width: 100%
  // opacity: 0.5

//#main
#transparent
  height: 100%
  width: 100%
  // background-color: black
  background-color: rgba(0,0,0,0.5)
  color: white

img
  margin 0 2px 0 2px
